body{
	min-width: 1200px;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
a{
	text-decoration: none;
	color: #8d8d8d;
}
.container{
	width: 1200px;
	margin: 0px auto;
}
header{
	width: 100%;
	background-color: #fff;
	height: 50px;
	line-height: 50px;
	position: relative;
}
h1{
	float: left;
	height: 50px;
	width: 155px;
	margin-right: 5px;
}
h1>img{
	width: 100%;
	height: 100%;
}
.nav{
	float: left;
}
.nav>li{
	float: left;
	margin-right: 22px;
}
.nav-phone,.nav-zc,.nav-dl{
	float: right;
}
.nav-phone>img{
	position: relative;
	top: 5px;
}
.nav-zc{
	margin-right: 5px;
	position: relative;
}
.nav-regist{
	position: absolute;
	top: 33px;
	left: -72px;
	width: 170px;
	height: 32px;
	background-image: url('../images/028da9e3-588c-4a8c-9ed7-e94a9c639a12.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.nav-regist a{
	color: #bc9961;
	font-size: 12px;
	padding-left: 20px;
	position: relative;
	top: -7px;
	margin-right: 5px;
}
.nav-zc>a{
	font-size: 12px;
	color: black;
}
.nav-dl{
	margin-right: 40px;
}
.nav-dl>a{
	font-size: 12px;
	color: black;
	border-left: 1px solid black;
	padding-left: 5px;
}
.header2{
	width: 100%;
	height: 70px;
	background-color: #e0e0e0;
/*	overflow: hidden;*/
}
.header2>.container{
	height: 100%;
}
.header2-fix{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99999999;
	height:52px;
	line-height: 52px;	
}
.logo-fix{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999990;
	height:52px;
	line-height: 52px;	
}
/*.header2-nav{
	overflow: hidden;
}*/
.header2-nav>li{
	float: left;
	height: 100%;
	line-height: 70px;
	margin-right: 45px; 
}
.header2-nav>li:nth-child(9){
	float: right;
	margin-right: 0px;
}
.header2-nav>li>a{
	font-size: 17px;
	color: #3a3a3a;
	font-weight: 550;
}
.header2-nav-sreach{
	height: 36px;
	background-color: #eaeaea;
	margin-top: 15px;
	border-radius: 30px;
}
.header2-nav-sreach>input{
	height: 36px;
	outline: none;
	border: none;
	position: relative;
	top: -18px;
	border-radius: 30px;
	background-color: #eaeaea;
	padding-left: 20px;
	font-size: 12px;
	width: 237px
}
.header2-nav-sreach>span>img{
	position: relative;
	top: -10px;
	left: -15px;
}
.header2-nav-hid-sreach{
	display: none;
}
.banner{
	width: 100%;
	height: 406px;
	position: relative;
	overflow: hidden;
}
.banner-img{
	width: 100%;
	height: 100%;
	position: relative;
}
.banner .banner-img>li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	transition: 1s;
}
.banner-img>li img{
	width: 100%;
	height: 100%;
}
.banner-dot{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -100px;
	z-index: 99;
}
.banner-dot>li{
	float: left;
	height: 10px;
	width: 10px;
	margin: 0px 4px;
	text-align: center;
	border-radius: 50%;
	background-color: #383838;
}
.banner-dot>li:nth-child(1){
	background-color: #fff;
}
.banner-left,.banner-right{
	position: absolute;
	top: 50%;
	width: 30px;
	height: 52px;
	margin-top: -26px;
	display: none;
	z-index: 99
}
.banner-left{
	left: 20px;
	background-image: url('../images/2a7f8349-14f0-42e1-afe8-7ae8afd54e1e.png');
}
.banner-right{
	right: 20px;
	background-image: url('../images/cae7b801-0fe6-4691-ba99-239ba9d11576.png');
}
.banner-nav{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	z-index: 98;
}
.banner-nav>.container{
	position: relative;
	height: 100%;
}
.b-nav-left{
	background-color: #fff;
	width: 15%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.b-nav-left>ul>li{
	border: 1px solid #e6e6e6;
	padding: 19px 15px 16px 20px;
	border-top: none;
	font-size: 17px;
}
.b-n-l-s{
	float: right;
}
.b-nav-right{
	width: 80%;
	height: 406px;
	position: absolute;
	top: 0px;
	left: 180px;
	z-index: 100;
	background-color: #f7f7f7;
	padding-left: 4%;
	padding-right: 1%;
	display: none;
}
.b-nav-right>div{
	float: left;
}
.b-nav-right-txt{
	width: 72%;
	padding-top: 20px;
	overflow: hidden;
}
.b-nav-right-img{
	width: 28%;
	padding-top: 20px;
}
.b-nav-right-txt>ul>li{
	float: left;
}
.txt{
	overflow: hidden;
	margin-top: 15px;
}
.txt>p{
	float: left;
	width: 100px;
	font-size: 13px;
	text-align: right;
	font-weight: 550;
}
.txt>ul{
	overflow: hidden;
}
.txt>ul>li{
	float: left;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	color: #000;
	border-left: 1px solid	#e5e5e5;
	padding-right: 12px;
	padding-left: 12px;
	margin-bottom: 5px;
}
.banner-nav li:hover{
	color: red
}
.banner-nav p:hover{
	color: red
}
.b-n-l-tit:hover{
	background-color: #f7f7f7;
	border-right-color: #f7f7f7; 
}
.qucik-link{
	padding-top: 16px;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}
.qucik-link>li{
	float: left;
	width: 60px;
	margin: 0px 30px;
	text-align: center;
}
.qucik-link>li>p{
	font-size: 14px;
	color: #9c9c9c;
}
.qucik-link>li>img:nth-child(2){
	display: none;
}
section{
	width: 100%;
	background-color: #f5f5f5;
	padding-bottom: 50px;
}
section>.container{
	padding-top: 50px;
}
.flashkill{
	width: 100%;
}
.flashkill-time{
	float: left;
	margin-right: 12px;
	margin-top:7px;
}
.flashkill-box{
	float: left;
	width: 490px;
	background-color: #fff;
	position: relative;
	margin-right: 8px;
	margin-top: 7px;
}
.flashkill-box:nth-child(4),.flashkill-box:nth-child(5){
	margin-top: 14px;
}
.flashkill-box>img{
	float: left;
	margin-right: 10px;
}
.flashkill-box>h4{
	float: left;
	width: 240px;
	padding-top: 44px;
}
.flashkill-price-box{
	border: 1px solid red;
	height: 31px;
	width: 231px;
	position: absolute;
	bottom: 32px;
	right: 40px;
	line-height: 31px;
}
.flashkill-price-box>p{
	float: left;
	padding: 0px 5px;
	font-size: 17px;
	color: red;
	width: 140px;
}
.price-yuan{
	font-size: 13px;
}
.del-price{
	color: #767676;
	font-size: 13px;
	float: right;
}
.del-price-yuan{
	font-size: 13px;
}
.flashkill-price-box>span{
	float: right;
	padding: 0px 13px;
	background-color: red;
	color: #fff;
	font-size: 13px;
}
.sec-product{
	margin-top: 50px;
}
.s-p-t-left{
	float: left;
	font-size: 20px;
	height: 48px;
	line-height: 48px;
}
.s-p-t-right{
	float: right;
	padding-top: 15px;
}
.s-p-t-right>ul>li{
	float: right;
	margin-left: 12px;
}
.s-p-t-right>ul>li>a{
	color: #6f7170;
	font-size: 12px;
}
.more>a>span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../images/302163a8-c40a-4ac0-979e-26f7bc8d9bcd.png');
	background-repeat: no-repeat;
	background-position: -41px -433px;
	position: relative;
	top: 3px;
	margin-left: 3px;
}
.sec-product-bigimg{
	float: left;
}
.sec-product-smallimg{
	float: left;
	border: 1px solid #dedede;
	text-align: center;
	background-color: #fff;
	padding: 12px 6px;
	position: relative;
}
.s-p-s-txt{
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 0px 14px;
	margin: 17px 0px;
}
.s-p-s-price{
	font-size: 14px;
	color: red;
}
.sec-product-smallimg:nth-child(3),.sec-product-smallimg:nth-child(4),.sec-product-smallimg:nth-child(5),.sec-product-smallimg:nth-child(6){
	border-left:none;
	border-bottom: none;
}
.sec-product-smallimg:nth-child(7),.sec-product-smallimg:nth-child(8),.sec-product-smallimg:nth-child(9),.sec-product-smallimg:nth-child(10){
	border-left: none;
}
.s-p-s-Tright{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 54px;
	height: 54px;
	background-image: url('../images/302163a8-c40a-4ac0-979e-26f7bc8d9bcd.png');
	background-repeat: no-repeat;
	background-position: 0px -699px;
}
.aTright2{
	background-position: 0px -760px;
}
.aTright3{
	background-position: 0px -819px;
}
.aTright4{
	background-position: 0px -760px;
}
.aTright5{
	background-position: 0px -819px;
}
.aTright6{
	background-position: 0px -819px;
}
.aTright8{
	background-position: 0px -819px;
}
.sec-product-s-smallimg{
	border: 1px solid  #dedede;
	border-left: none;
	background-color: #fff;
	float: left;
}
.s-p-ss-left{
	float: left;
	padding: 30px 0px 0px 15px;
	width: 104px;
	height: 64px;
	text-align: left;
}
.s-p-ss-tit{
	font-size: 14px;
	color: black;
	height: 22px;
	line-height: 22px;
}
.s-p-ss-txt{
	color: #6f7170;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}
.s-p-ss-price{
	color: #e2231a;
	font-size: 14px;
	height: 22px;
	line-height: 22px;
}
.sec-product-s-smallimg>img{
	padding: 15px 10px;
}
.footer-link-img{
	width: 100%;
}
.footer-img{
	width: 100%;
}
.footer-nav{
	width: 100%;
	padding: 70px 0px 70px 0px;
	background-color: #fbfbfb;
}
.footer-nav-list{
	float: left;
	width: 152px;
}
.footer-nav-list:nth-child(1){
	margin-left: 50px;
}
.footer-nav-list>dt{
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 18px;
	font-weight: 600;
	color: #424242;
}
.footer-nav-list>dd{
	margin-bottom: 12px;
}
.footer-nav-list>dd>a{
	font-size: 13px;
	line-height: 13px;
	color: #757575;
}
.footer-call{
	float: left;
	border-left: 1px solid #ccc;
	padding-left: 44px;
}
.call-number{
	font-size: 20px;
	text-align: left;
	color: #E1140A;
}
.call-time{
	font-size: 12px;
	color: #757575;
	text-align: left;
	line-height: 25px;
}
.footer-call-img{
	display: inline-block;
	width: 139px;
	height: 36px;
	background-image: url('../images/callhover.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.footer-call-img:hover{
	background-image: url('../images/call.png');
	cursor: pointer;
}
footer{
	width: 100%;
	background-color: #272727;
}
.copya{
	float: left;
	font-size: 12px;
	line-height: 46px;
	color: #757575;
}
footer a{
	color: #757575;
}
.copyb{
	float: right;
	font-size: 12px;
	line-height: 46px;
	color: #757575;
}
.aside-left{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -166px;
	margin-left: -650px;
	text-align: center;
	font-size: 12px;
	width: 30px;
	display: none;
}
.aside-left>ul>.test1{
	padding: 5px 0px;
	font-size: 12px;
	color: #666;
}
.as-2{
	display: none;
}
.line{
	width: 10px;
	height: 0px;
	border-bottom: 1px solid #e5e5e5;
	margin: 5px 10px;
	padding: 0px;
}
.f1-img{
	display: inline-block;
	width: 17px;
	height: 17px;
	background-image: url('../images/302163a8-c40a-4ac0-979e-26f7bc8d9bcd.png');
	background-repeat: no-repeat;
	background-position: -4px -460px;
}
.aside-right{
	position: fixed;
	top: 50%;
	right: 5px;
	margin-top: -206.5px;
}
.aside-right-li a{
	display: inline-block;
	width: 47px;
	height: 55px;
	background-image: url('../images/15488017-b115-444c-8eae-2633a9906b31.png');
	background-repeat: no-repeat;
}
.a-r-1{
	background-position: -1308px -322px;
}
.a-r-2{
	background-position: -1308px -376px;
}
.a-r-3{
	background-position: -1308px -430px;
}
.a-r-4{
	background-position: -1308px -484px;
}
.a-r-5{
	background-position: -1308px -538px;
}
.a-r-1:hover{
	background-position: -1308px -0px;
}
.a-r-2:hover{
	background-position: -1308px -54px;
}
.a-r-3:hover{
	background-position: -1308px -108px;
}
.a-r-4:hover{
	background-position: -1308px -162px;
}
.a-r-5:hover{
	background-position: -1308px -217px;
}
.a-r-6{
	background-image: url('../images/db5c4432-a0f5-4d96-9bdd-732f03e81576.jpg') !important;
	background-position: -17px -77px;
	height: 74px !important;
}
.a-r-6:hover{
	background-position: -90px -77px;
}
.a-r-7{
	background-position: -1308px -593px;
	height: 19px !important;
}
.a-r-7:hover{
	background-position: -1308px -271px;
}
.aside-hid{
	position: absolute;
	background-color: red;
}
.a-h-1{
	top: 0px;
	right: 70px;
	width: 217px;
	height: 52px;
	background-image: url('../images/15488017-b115-444c-8eae-2633a9906b31.png');
	background-repeat: no-repeat;
	background-position: -1066px 0px;
	display: none;
}
.a-h-1:hover{
	background-position: -1072px -276px;
}
.a-h-2{
	top: 62px;
	right: 70px;
	width: 217px;
	height: 52px;
	background-image: url('../images/15488017-b115-444c-8eae-2633a9906b31.png');
	background-repeat: no-repeat;
	background-position: -1066px -51px;
	display: none;
}
.a-h-2:hover{
	background-position: -1072px -327px;
}
.a-h-3{
	top: 237px;
	right: 70px;
	width: 232px;
	height: 97px;
	background-image: url('../images/15488017-b115-444c-8eae-2633a9906b31.png');
	background-repeat: no-repeat;
	background-position: -794px 0px;
	display: none;
}
.a-h-3:hover{
	background-position: -794px -159px;
}
.a-h-4{
	top: 294px;
	left: -215px;
	height: 76px;
	width: 215px;
	background-image: url('../images/db5c4432-a0f5-4d96-9bdd-732f03e81576.jpg');
	background-repeat: no-repeat;
	background-position: -17px -288px;
	display: none;
}
.a-h-4:hover{
	background-position: -17px -181px;
}